

.loadimage {
	

	display: inline-block;
	position:relative;
	border: 1px solid #cbcbcb;
	overflow:hidden;
	font-size: 0;
	
	&.href {
		cursor: pointer;
		&:hover { opacity: 1; }
	}
	

	&.complete img { opacity:1; }


	
	img {
		min-width: 50px;
    	min-height: 50px;
	    transition: opacity 1s;
		display:inline-block;	
		height:inherit;
		width: inherit;
		opacity:0;


	}
}
